@model IEnumerable<WebLibrary.Models.Category>;

@{
    ViewData["Title"] = "Index";
}
<h1>List Category</h1>
<a class="btn btn-success mb-2" asp-action="Create">Add new Category</a>
<table class="table">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
            </tr>
        }
    </tbody>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }